.page-header {
  background-color: var(--dark-bg-solid);
  padding: var(--spacing-36);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navbar__logo {
  max-width: 300px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  gap: var(--spacing-20);
}

.navbar__item {
  position: relative;
}

.navbar__link {
  font-size: var(--font-medium);
  padding: var(--spacing-8) var(--spacing-16);
  transition: background 0.3s ease-in-out;
}

.navbar__link--cart {
  font-size: var(--font-large);
}

.navbar__link:hover {
  background-color: var(--primary-900);
}

.with-icon {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
}

.with-submenu:hover .submenu {
  display: block;
}

.submenu {
  display: none;
  position: absolute;
  top: 40px;
  width: 300px;
  font-size: var(--font-medium);
  background-color: var(--dark-bg-solid);
}

.submenu__link {
  display: block;
  padding: var(--spacing-8) var(--spacing-16);
}

.submenu__link:hover {
  background-color: var(--primary-900);
}

@media (max-width: 802px) {
  .navbar {
    justify-content: center;
    gap: var(--spacing-20);
  }
}

@media (max-width: 478px) {
  .navbar__menu {
   display: none;
  }
}